<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body class="bg-gradient-to-r from-amber-100 to-amber-300">
    {% extends "navbar.html" %}
    {% block events %}
    <div class="max-w-[1400px]  mx-auto ">
        <div class="text-center mt-3">
            <h1 class="text-3xl  font-semibold">Event Name: {{event.name}}</h1>
            <p class="text-xl my-5">Event Description: {{event.description}}</p>
            <br>
            
            <div class=" w-1/2 mx-auto ">
                <h1 class="text-2xl my-5 font-bold " >Participants</h1>
                {% for part in participants %}
                    <div class="my-3 text-lg">
                        <div>
                            <p> <span class="">Name: </span> {{part.name}}</p>
                            <p> <span class="">Email:</span> {{part.email}} </p>
                        </div>
                    </div>
                    {% empty%}
                    <p class="text-center text-lg my-4">no participants</p>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock events %}
</body>
</html>