<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body class="">
    {% extends "navbar.html" %}
    {% block events %}
    <div class="max-w-[1400px] font-[Poppins] mx-auto ">
        <main>
            <div class="text-center text-white gap-8 bg-black flex justify-center h-screen items-center py-8">
                <div>
                    <h1 class='text-4xl  font-bold'>Welecome to <br> Event Management</h1>
                    <h1 class='text-2xl mt-4 font-bold'>We will help you to arrange the event</h1>
                    <br>
                    <a href="#all-events" class="py-3 mt-5  rounded-lg bg-white hover:bg-white/40 hover:text-white text-black px-4">
                        See Events
                    </a>

                </div>
                <div>
                    <dotlottie-player src="https://lottie.host/2c9d6f7f-9381-4ef2-874e-3f3803cc2af3/PEwMN45gB5.lottie" background="transparent" speed="1" style="width: 700px; height: 700px" loop autoplay></dotlottie-player>
                </div>
            </div>

            <div class='mt-7 ' id="all-events">
                <h1 class="text-center text-3xl font-semibold ">All Events</h1>

                <div class="grid grid-cols-2">
                    <div class="flex items-center justify-center gap-4 mt-3">
                        <h2 class="text-center text-3xl">Search</h2>
                        <form action="{% url "home" %}" method="get">
                            <input type="text" name="q" class="border bg-white py-2 px-3 rounded-sm" placeholder="Search by name">
                            <button type="submit" class=" rounded-md py-2 bg-black hover:bg-black/10 hover:text-black text-white px-2">Search</button>
                        </form>
                    </div>
                    <div class="flex flex-col justify-center gap-3 items-center">
                        <h2 class="text-3xl ">Filter</h2>
                        <div>
                            <form action="{% url "home" %}" method="get">
                                <input type="text" name="c" class="border bg-white py-2 px-3 rounded-sm" placeholder="Filter by category">
                                <button type="submit" class=" rounded-md py-2 bg-black hover:bg-black/10 hover:text-black text-white  px-2">Filter</button>
                            </form>
                        </div>
                        <div>
                            <form action="{% url "home" %}" method="get">
                                <input type="text" name="s" class="border bg-white py-2 px-3 rounded-sm" placeholder="Start Date: YY-MM-DD">

                                <input type="text" name="e" class="border bg-white py-2 px-3 rounded-sm" placeholder="End date">

                                <button type="submit" class=" rounded-md py-2 bg-black hover:bg-black/10 hover:text-black text-white  px-2">Filter</button>
                            </form>
                        </div>


                    </div>
                </div>
                

                <div class="px-2 grid grid-cols-2 gap-4">
                    {% for event in all_events %}
                        <div class="border shadow-lg mt-7 bg-black text-white p-6 rounded-md">
                            <div class="">
                                <h1 class="text-2xl underline">Event Name: <span class=""> {{ event.name}}</span> </h1>

                                <p class='text-xl my-3'> Description:  {{event.description}} </p>

                                <div class="flex text-lg font-semibold gap-10">
                                    <p>Category: {{event.category}} </p>
                                    <p>Location: {{event.location}} </p>
                                    <p>Participants Count: {{ event.participants.all|length }} </p>

                                </div>
                                <br>

                                <a href="{% url "event-detail" event.id %}" class="py-3 mt-5  rounded-lg bg-white hover:bg-white/40 hover:text-white text-black px-4">Detail</a>
                                <a href="{% url "rsvp_event" event.id %}" class="py-3 mt-5  rounded-lg bg-white hover:bg-white/40 hover:text-white text-black px-4">RSVP</a>
                            </div>
                        </div>
                        {% empty %}
                            <h2 class="text-center text-2xl my-4 ">No event Found</h2>
                    {% endfor %}
                </div>
            </div>


        </main>

        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: "{{message.tags|title}}",
                    text: "{{message}}",
                    icon: "{{message.tags}}",
                    timer:2000
                })
            {% endfor %}
        {% endif %}
        
    </script>
    {% endblock events %}
</body>
</html>