{% extends "dashboard.html" %}
{% block manage %}
<div class="max-w-[1400px] font-[Poppins] mx-auto">

  <div class="bg-black text-white rounded-xl shadow-lg">
    <div
      class="grid grid-cols-4 p-4 border-b border-gray-100 text-lg  font-medium"
    >
      <div>Event Name</div>
      <div>Category</div>
      <div>Participant</div>
      <div>date</div>
    </div>
    <!-- Task Items  -->
    <div class="divide-y divide-gray-100">
      {% for event in all_events %}
        <!-- event 1 -->
        <div class="grid grid-cols-4 gap-4 p-4 items-center">
          <div class="flex items-center gap-2">
            <a href="{% url "event-detail" event.id %}"><span>{{event.name}}</span></a>
            
            
          </div>
          <div>
            <span
              class="px-3 py-1 rounded-full bg-white text-black text-sm"
              >{{event.category}}</span
            >
          </div>
          <div class="flex -space-x-2">
              {{event.participants.all|length}}
          </div>
          <div class="">{{event.date}}</div>
        </div>
      {% endfor %}

    </div>
  </div>

</div>
{% endblock manage %}