<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body>
    <div class="max-w-[1400px] mx-auto ">
        <header class="flex justify-between py-4 px-3 items-center bg-purple-600 text-white">
            <h1 class="text-2xl font-semibold">Event Management</h1>
            <div class="flex items-center gap-4 font-bold">
                <a href="{% url 'home' %}" class="">Home</a>
                <a href="{% url "manager-dashboard" %}">Dashboard</a>
                <a href="{% url "create-event" %}">Create Event</a>
                <a href="{% url "create-participants" %}">Create Participant</a>
                <a href="{% url "create-category" %}">Create Category</a>
            </div>
        </header>


    </div>
    
    {% block events %}{% endblock events %}
</body>
</html>
