<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>Event</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="font-[Poppins]">
    <div class="max-w-[1400px] mx-auto font-[Poppins]">
        <header class="flex justify-between py-4 px-3 items-center flex-wrap ">
            <h1 class="text-2xl font-semibold">Event Management</h1>
            <div class="flex items-center gap-4 text-lg ">
              <a href="{% url 'home' %}" class="">Home</a>
              <a href="{% url "manager-dashboard" %}">Dashboard</a>
              <a href="{% url "show-opt" %}">Create & See</a>
              <a href="{% url "create-group" %}">Create Groups</a>
              <a href="{% url "group-list" %}">Groups</a>

            </div>
            <div class="flex gap-1">
                {% if user.is_authenticated %}
                  
                  <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button
                      class="block px-4 py-2 bg-black rounded-sm hover:bg-black/10 hover:text-black text-white">
                      Logout
                    </button>
                  </form>
                {% else %}
                <a href="{% url 'sign-in' %}"
                  class="bg-black hover:bg-black/20 hover:text-black text-white px-4 py-2 rounded-md ">
                  Sign In
                </a>
                <a
                  href="{% url 'sign-up' %}"
                  class="bg-black hover:bg-black/20 hover:text-black text-white px-4 py-2 rounded-md "
                  >Sign Up</a
                >
                {% endif %}
              </div>
        </header>
    </div>
    
    {% block events %}{% endblock events %}
</body>
</html>
